.header-wrapper {
  border-bottom: 1px solid #cccccc;
  .breadcum {
    .breadcum-item {
      h6 {
        margin-bottom: 0px !important;
      }
    }
  }
}

.content-wrapper {
  .create-folder-button {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #0069d9;
    i {
      color: #ffffff;
    }
  }
  .folder-container {
    .item-folder-wrapper,
    .item-file-wrapper {
      cursor: pointer;
      position: relative;
      border: 1px solid #cccccc;
      border-radius: 3px;
      &:hover {
        background-color: #cccccc;
      }
    }
    .item-folder-wrapper {
      .item-title {
        padding: 20px;
        i {
          font-size: 20px;
        }
        p {
          margin-bottom: 0px !important;
          max-width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          
        }
      }
    }
    .item-file-wrapper {
      .item-title {
        padding: 20px;
        i {
          font-size: 20px;
        }
        p {
          margin-bottom: 0px !important;
          max-width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          
        }
      }
    }
  }
}
